#password-form3-j{
  border-radius: 25px;
}

#chatroom{
  width:100%;
  height:80px;
  border-radius: 25px;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 16px;
  outline:none;
}
#chatroomopen{
  width:40%;
  margin-left: 30%;
  height:50px;
  border-radius: 25px;
  background-color: #149dcc;
  color:white;
  font-size: 16px;
  font-weight: bold;
  outline:none;
}
